<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<body>
    <h1 id="Nombre"> Bienvenido </h1>
    <p>Su licencia vencera pronto si quiere hacer nuevamente uso de nuestros servicio seleccione el boton Renovar,
        esperamos que siga contando con nuestros servicios:</p>
    <button onclick="callEndpoint()">Renovar</button>
    <button onclick="cerrar()">Declinar</button>
    <script>
        var openedWindow;
        let params = new URLSearchParams(location.search);
        let id = params.get('id');
        let body = {
            "idclientes": id
        }
        let resultado;
        axios.post(`http://localhost:3000/getdatos`, body
        )
            .then(function (response) {
                
                resultado = response
                console.log("prueba", resultado.data.data[0].Nombre);
                // Definimos la variable
                const nombre = resultado.data.data[0].Nombre;

                // Seleccionamos el elemento HTML
                const saludo = document.querySelector("#Nombre");

                // Concatenamos la variable en el elemento HTML utilizando una plantilla de cadena
                saludo.textContent = `Bienvenido, ${nombre}!`;
            })
            .catch(function (error) {
                console.log(error);
            });

        async function callEndpoint() {

            axios.post(`http://localhost:3000/renovar/${id}`, {
            })
                .then(function (response) {
                    console.log(response);
                })
                .catch(function (error) {
                    console.log(error);
                })
        }
        function cerrar() {
            console.log("cerrar");
            window.location.href = "http://www.gmail.com";
        }
    </script>
</body>
</html>